In [2]:
import pandas as pd
from pathlib import Path

school_path = Path("../Starter_Code/PyCitySchools/Resources/schools_complete.csv")
student_path = Path("../Starter_Code/PyCitySchools/Resources/students_complete.csv")

school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)

complete_df = pd.merge(student_df, school_df, how="left", on="school_name")

complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

District Summary

In [3]:
complete_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [4]:
#unique schools

school_count = len(complete_df["school_name"].value_counts())
school_count

15

In [5]:
#number of students

student_count = complete_df["student_name"].count()
student_count

39170

In [6]:
#total budget

total_budget = complete_df["budget"].unique()

sum_total_budget = total_budget.sum()

sum_total_budget

24649428

In [7]:
# average math score

average_math_score = complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [8]:
# average reading score
average_reading_score = complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [9]:
# passing math

passed_math_count = complete_df.loc[complete_df["math_score"] >= 70].count()["student_name"]
#passed_math_count
passed_math_percent = (passed_math_count / student_count) * 100

passed_math_percent

74.9808526933878

In [10]:
# passing reading

passed_reading_count = complete_df.loc[complete_df["reading_score"] >= 70].count()["student_name"]
#passed_reading_count
passed_reading_percent = (passed_reading_count / student_count) * 100

passed_reading_percent

85.80546336482001

In [11]:
# passed both

passed_both_count = complete_df.loc[
    (complete_df["math_score"] >= 70) & (complete_df["reading_score"] >= 70)].count()["student_name"]

#passed_both_count

passed_both_percentage = (passed_both_count / student_count) * 100

passed_both_percentage

65.17232575950983

In [12]:
# DataFrame of district's metric's

district_summary_df = pd.DataFrame([[school_count, student_count, sum_total_budget, 
                                     average_math_score, average_reading_score, 
                                    passed_math_percent, passed_reading_percent,
                                    passed_both_percentage]], columns= ["School Count", "Student Count", "Total Budget", 
                                     "Average Math Score", "Average Reading Score", 
                                    "% Passed Math", "% Passed Reading",
                                    "% Passed Both"])

district_summary_df["Student Count"] = district_summary_df["Student Count"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)


district_summary_df

,School Count,Student Count,Total Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,% Passed Both
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [38]:
# school type

school_types = complete_df["type"].unique()

school_types

array(['District', 'Charter'], dtype=object)

In [39]:
complete_df["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [40]:
# students per school

budget_per_school = complete_df.groupby(["school_name"])

budget_per_school[["size"]].count()

students_per_school = budget_per_school[["size"]].count()

students_per_school

                       size
school_name
Bailey High School     4976
Cabrera High School    1858
Figueroa High School   2949
Ford High School       2739
Griffin High School    1468
Hernandez High School  4635
Holden High School      427
Huang High School      2917
Johnson High School    4761
Pena High School        962
Rodriguez High School  3999
Shelton High School    1761
Thomas High School     1635
Wilson High School     2283
Wright High School     1800

In [41]:
# budget per school and per capita

complete_df['per_capita_budget'] = (complete_df['budget']) / (complete_df ['size'])

complete_df

budget_per_school_capita = complete_df.groupby(["school_name"])

budget_per_school_capita[["per_capita_budget"]].mean()
# budget_per_school_capita["budget_per_capita"] = budget_per_school_capita['budget'] / budget_per_school_capita['size']

per_school_capita = budget_per_school_capita[["per_capita_budget"]].mean()

per_school_budget = budget_per_school_capita[["budget"]].mean()

per_school_capita

per_school_budget

                          budget
school_name
Bailey High School     3124928.0
Cabrera High School    1081356.0
Figueroa High School   1884411.0
Ford High School       1763916.0
Griffin High School     917500.0
Hernandez High School  3022020.0
Holden High School      248087.0
Huang High School      1910635.0
Johnson High School    3094650.0
Pena High School        585858.0
Rodriguez High School  2547363.0
Shelton High School    1056600.0
Thomas High School     1043130.0
Wilson High School     1319574.0
Wright High School     1049400.0

In [ ]:
# average test scores

In [42]:
per_school_summary = pd.DataFrame([[school_types, students_per_school, per_school_capita, 
                                     per_school_budget]], columns= ["School Types", "Students per School", 
                                                                    "Budget per Student", "Budget per School"])
per_school_summary

,School Types,Students per School,Budget per Student,Budget per School
0,"[District, Charter]",size school_name ...,per_capita_budget schoo...,budget school_name ...

In [36]:
# Use the code provided to separate the data by grade
ninth_graders = complete_df.loc[(complete_df["grade"] == "9th")]
tenth_graders = complete_df.loc[(complete_df["grade"] == "10th")]
eleventh_graders = complete_df.loc[(complete_df["grade"] == "11th")]
twelfth_graders = complete_df.loc[(complete_df["grade"] == "12th")]



# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_group = ninth_graders.groupby(["school_name"])
ninth_grade_math_scores = ninth_grade_math_group[["math_score"]].mean()
#print(ninth_grade_math_scores)


tenth_grade_math_group = tenth_graders.groupby(["school_name"])
tenth_grade_math_scores = tenth_grade_math_group[["math_score"]].mean()
#print(tenth_grade_math_scores)

eleventh_grade_math_group = eleventh_graders.groupby(["school_name"])
eleventh_grade_math_scores = eleventh_grade_math_group[["math_score"]].mean()
#print(eleventh_grade_math_scores) 

twelfth_grade_math_group = twelfth_graders.groupby(["school_name"])
twelfth_grade_math_scores = twelfth_grade_math_group[["math_score"]].mean()
#print(twelfth_grade_math_scores)

# # Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.merge(ninth_grade_math_scores, tenth_grade_math_scores, 
                                 on=["school_name"])



# # Minor data wrangling
math_scores_by_grade = math_scores_by_grade[["9th", "10th"]]
math_scores_by_grade.index.name = None

# # Display the DataFrame
math_scores_by_grade

KeyError: "None of [Index(['9th', '10th'], dtype='object')] are in the [columns]"